* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

#title, #description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;

}

body {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 5%;
}

.paginationRow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 50px;
  
}

.pageButton, #paginationNumber {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: gainsboro;
}

a {
    text-decoration: none;
    display: flex;
    text-align: center;
    line-height: 40px;
    width: 100%;
    padding: 0 5px;
    user-select: none;
    color: black;
}

a.active {
    background-color: gray;
}

a:hover:not(.active) {
    background-color: rgb(185, 185, 185);
}

a:active {
    background-color: rgb(80, 69, 69) !important;
}

.container {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    overflow: hidden;
}

table {
    width: 80%;
    border: 1px solid black;
}

tr {
    padding: 10px;
    text-align: center;
    background-color: #ebebeb;
}

td {
    padding: 5px;
}